.vscode/
.DS_Store
*.mov
.venv/
.env
training/nano_fine_tuned_220.pt
yolo11n.pt
*.pyc

debug/

training/CMS25img
training/CMS232img
training/images
training/merged_dataset/
training/newlabels
training/out_json